a {
  color: #000;
  text-decoration: none;
}

.img-fluid {
  display: block;
  height: auto;
  max-width: 100%;
}

#typo3-inner-docbody {
  > .container {
    max-width: 100%;
  }
}

.docbody-intro {
  margin-bottom: 3em;

  > .row {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .col-image-links {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      margin-bottom: 2em;
      margin-left: auto;
      order: -1;
      max-width: 320px;
    }
  }

  a.image-link {
    display: inline-block;

    + a.image-link {
      margin-left: 1.5em;
    }
  }
}

.docbody-outro {
  margin-top: 2.5em;

  > .row {
    display: flex;
    flex-direction: row-reverse;
  }
}