<div class="docbody-intro">

  <div class="row">
    <div class="col-md-7">
      <div class="h4">Sie haben Fragen zu den t3infodiensten, benötigen persönliche Beratung oder möchten ein unverbindliches Angebot erhalten?</div>
      <f:if condition="!{newCheck}">
        <a href="{mailtoLink}&body={mailtoBody -> f:format.urlencode()}" class="btn btn-success mt-3 btn-lg">Jetzt Angebot anfragen</a>
      </f:if>
    </div>
    <div class="col-md-5 col-image-links">
      <f:link.external uri="https://t3-infodienste.de/" target="_blank" class="image-link">
        <f:image src="EXT:infodienste_check/Resources/Public/Icons/t3i.svg"
                 class="img-fluid" height="65"/>
      </f:link.external>
      <f:link.external uri="https://tsa.de/infodienste/" target="_blank" class="image-link">
        <f:image src="EXT:infodienste_check/Resources/Public/Images/banner_tsa_idzertifiziert.jpg"
                 class="img-fluid" height="65"/>
      </f:link.external>
    </div>
  </div>

</div>