<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:be.pageRenderer
        includeCssFiles="{
                0: '{f:uri.resource(path:\'Css/checkupModule.css\')}'
            }"
    />

    <f:variable name="mailtoLink" value="mailto:{mailto.receiver}?subject={mailto.subject}" />
    <f:variable name="mailtoBody">Sehr geehrte Damen und Herren,

        wir möchten gerne eine Angebotserstellung für unsere TYPO3 Webseite bzgl. Ihrer "t3infodienste" Extension.
        <f:if condition="{newCheck}">

            Informationen zu unserer Webseite:
            - Verwaltungseinheit: {f:translate(key:'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.management.{newCheck.verwaltungArt}')}
            - Einwohnerzahl: {f:translate(key:'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.{newCheck.verwaltungEinwohner}')}
        </f:if>
        <f:if condition="{checkup}">Funktionalitäten unseres Servers:
            - TYPO3 Version: {checkup.core}
            - SOAP: {f:if(condition:'{checkup.soap}==1',then:'vorhanden',else:'nicht vorhanden')}
            - cURL: {f:if(condition:'{checkup.curl}==1',then:'vorhanden',else:'nicht vorhanden')}
            - MySQL Dump: {f:if(condition:'{checkup.mysqldump}==1',then:'möglich',else:'nicht möglich')}
            - MySQL Import: {f:if(condition:'{checkup.mysqlImport}==1',then:'möglich',else:'nicht möglich')}
            <f:for each="{checkup.phpSettings}" as="setting" key="value">
                - {value}:  {f:if(condition:'{setting.prooved}==1',then:'genügend',else:'ungenügend')} ({setting.value} von min. {required.{value}})</f:for>
        </f:if>
    </f:variable>

    <div class="module {moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
        <div class="module-loading-indicator"></div>
        <div id="module-body t3js-module-body">
            <div id="typo3-inner-docbody">
                <f:flashMessages />
                <div class="container{f:if(condition:'{bootstrap} == 5', then:' mt-3')}">
                    <f:render partial="BodyIntro" arguments="{_all}" />

                    <div class="row">
                        <div class="col-sm-7 col-md-8">
                            <f:render section="Content" />
                        </div>

                        <div class="col-sm-5 col-md-4">
                            <f:link.external uri="https://t3-infodienste.de/" target="_blank" class="image-link">
                                <f:image src="EXT:infodienste_check/Resources/Public/Images/Software_Box_T3i_Mockup.png" class="img-fluid" />
                            </f:link.external>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</html>