<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="{layout}" />

<f:section name="Buttons">
</f:section>

<f:section name="Content">
    <f:variable value="t3js-infobox callout callout-sm" name="calloutClasses" />

    <div class="{calloutClasses} callout-info">
        <h4 class="callout-title">TYPO3 Version: {checkup.core}</h4>
    </div>
    <div class="{calloutClasses} {f:if(condition: '{checkup.soap} == \'1\'', then:'callout-success', else:'callout-danger')}">
        <h4 class="callout-title">SOAP: {f:if(condition: '{checkup.soap} == \'1\'', then:'vorhanden', else:'nicht vorhanden')}</h4>
    </div>
    <div class="{calloutClasses} {f:if(condition: '{checkup.curl} == \'1\'', then:'callout-success', else:'callout-danger')}">
        <h4 class="callout-title">cURL: {f:if(condition: '{checkup.curl} == \'1\'', then:'vorhanden', else:'nicht vorhanden')}</h4>
    </div>
    <div class="{calloutClasses} {f:if(condition: '{checkup.mysqldump} == \'1\'', then:'callout-success', else:'callout-danger')}">
        <h4 class="callout-title">MySQL Dump: Funktion {f:if(condition: '{checkup.mysqldump} == \'1\'', then:'vorhanden und getestet', else:'nicht vorhanden')}</h4>
    </div>
    <div class="{calloutClasses} {f:if(condition: '{checkup.mysqlImport} == \'1\'', then:'callout-success', else:'callout-danger')}">
        <h4 class="callout-title">MySQL Import: Funktion {f:if(condition: '{checkup.mysqlImport} == \'1\'', then:'vorhanden und getestet', else:'nicht vorhanden')}</h4>
    </div>
    <f:for each="{checkup.phpSettings}" as="setting" key="value">
        <div class="{calloutClasses} {f:if(condition: '{setting.prooved} == \'1\'', then:'callout-success', else:'callout-danger')}">
            <h4 class="callout-title">{value}: <b>{f:if(condition: '{setting.prooved} == \'1\'', then:'&#x2713;', else:'X')}</b> ({setting.value} empfohlen min. {required.{value}})</h4>
        </div>
    </f:for>

    <div class="alert alert-info">
        <f:if condition="{checkup.overallResult}">
            <f:then>
                <p>
                    Ausgezeichnet! Ihr System erfüllt alle Basisvoraussetzungen problemlos.
                    Dem Einsatz der Extension t3infodienste sollte nichts im Wege stehen.
                    Kontaktieren Sie uns gerne, sodass wir das weitere Vorgehen gemeinsam besprechen können.
                </p>
            </f:then>
            <f:else>
                <p>
                    Ihr System konnte auf Anhieb nicht alle Basisanforderungen erfüllen. In der Regel können
                    PHP Erweiterungen und Einstellungen je nach Hosting-Anbieter entsprechend angepasst werden um
                    die Kompatibilität zu gewährleisten.<br />
                    Nehmen Sie gerne Kontakt zu uns auf, sodass wir Sie diesbezüglich beraten können.
                </p>
            </f:else>
        </f:if>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="{mailtoLink}&body={mailtoBody -> f:format.urlencode()}" class="btn btn-success btn-lg mt-3">Jetzt Angebot anfragen</a>
        </div>
    </div>

</f:section>
</html>
