<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="{layout}" />

<f:section name="Buttons">
</f:section>

<f:section name="Content">

    <f:form action="create" name="newCheck" objectName="newCheck" object="{newCheck}">
      <fieldset id="kontaktformular-299-fieldset-1" class="form-group">
        <legend>Was wird getestet?</legend>
        <p>
          Die Extension <u><a href="https://t3-infodienste.de/" target="_blank">"t3infodienste"</a></u> synchronisiert alle erforderlichen Informationen des Infodienste-Servers
          Ihres Bundeslandes einmal täglich. Insbesondere bei der ersten Synchronisierung kann dieser Prozess je
          nach Serverleistung und Art Ihrer Verwaltungseinheit etwas länger dauern.<br /><br />
          Dieser Check überprüft die hierfür wichtigsten Funktionen die für die Inbetriebnahme der Extension empfohlen werden.<br />
          Selbst wenn einige Anforderungen nicht direkt erfüllt werden, besteht in der Regel die Möglichkeit entsprechende Anpassungen beim Provider vornehmen zu lassen.
        </p>
        <br />
        <legend>Für welche Art von Verwaltungseinheit fragen Sie an?</legend>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label" for="verwaltungArt">
                  {f:translate(key: 'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.management.label')}
              </label>
              <div class="input">
                <f:form.select
                    class="form-control"
                    id="verwaltungArt"
                    property="verwaltungArt"
                    options="{
                      'Stadt_Gemeinde': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.management.Stadt_Gemeinde\')}',
                      'Amt': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.management.Amt\')}',
                      'Landkreis': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.management.Landkreis\')}'
                    }"
                    prependOptionLabel="bitte wählen"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label" for="verwaltungEinwohner">
                  {f:translate(key: 'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.label')}
              </label>
              <div class="input">
                <f:form.select
                    class="form-control"
                    id="verwaltungEinwohner"
                    property="verwaltungEinwohner"
                    options="{
                      'bis_10000': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.bis_10000\')}',
                      '10000-50000': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.10000-50000\')}',
                      '50000-100000': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.50000-100000\')}',
                      'ab_100.000': '{f:translate(key: \'LLL:EXT:infodienste_check/Resources/Private/Language/locallang_db.xlf:tx_infodienstecheck.residents.ab_100.000\')}'
                    }"
                    prependOptionLabel="bitte wählen"
                />
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <f:form.submit value="Testen Sie Ihr System" class="btn btn-primary"/>

    </f:form>

</f:section>
</html>
