a {
  color: #000;
  text-decoration: none;
}

.img-fluid {
  display: block;
  height: auto;
  max-width: 100%;
}

#typo3-inner-docbody > .container {
  max-width: 100%;
}

.docbody-intro {
  margin-bottom: 3em;
}
.docbody-intro > .row {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.docbody-intro .col-image-links {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .docbody-intro .col-image-links {
    margin-bottom: 2em;
    margin-left: auto;
    order: -1;
    max-width: 320px;
  }
}
.docbody-intro a.image-link {
  display: inline-block;
}
.docbody-intro a.image-link + a.image-link {
  margin-left: 1.5em;
}

.docbody-outro {
  margin-top: 2.5em;
}
.docbody-outro > .row {
  display: flex;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=checkupModule.css.map */
